.App {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100vh;
  flex-direction: row;
}



.circle.yel {
  box-shadow: inset 0 0 30px 0 #fff, inset 20px 0 30px #ffd400,
    inset -20px 0 30px red, inset 20px 0 300px #ff40d6,
    inset -20px 0 300px #e3ff4b, 0 0 50px #fff, -10px 0 100px #fbff00,
    10px 0 80px #f55;
}

.circle {
  opacity: 1;
  box-shadow: inset 0 0 30px #fff, inset 20px 0 30px #d7d938,
    inset -20px 0 30px #ff3407, inset 4px 7px 300px #ff0c00,
    inset -20px 0 300px #feff88, 0 0 50px #fff, -10px 0 80px #f0f,
    10px 0 80px #0ff;
}

.circle {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  bottom: 15%;
  position: absolute;
  -webkit-animation: linear infinite;
  -webkit-animation-name: run;
  -webkit-animation-duration: 5s;
  background: #fff;
}

.elementor *,
.elementor ::after,
.elementor ::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

div {
  outline: none;
}

/* .elementor-widget-container {
  will-change: transform;
  transform: translateX(4.15485px) translateY(5px);
} */

*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

.elementor {
  hyphens: manual;
}

@keyframes run {
  0% {
    transform: translateX(0.0019355px);
  }

  50% {
    transform: translateX(10.0019355px);
  }

  100% {
    transform: translateX(0.0019355px);
  }
}

/* element.style {
  will-change: transform;
  transform: translateX(0.0019355px) translateY(5px);
} */

.dark-scheme,
.dark-scheme .woo-cart_item_values p span,
.dark-scheme .select-holder select,
.dark-scheme .search-form .search-submit,
.dark-scheme .woocommerce-product-search .search-submit,
.dark-scheme p.subtitle,
.dark-scheme .subtitle-font,
.dark-scheme .heading .subtitle,
.dark-scheme .site-footer,
.dark-scheme .site-footer .site-info,
.dark-scheme .site-footer .widgets a,
.dark-scheme .pricing_list_item.disabled,
.dark-scheme a.category {
  color: rgba(255, 255, 255, 0.75);
}

.elementor-element {
  position: absolute;
  left: 55%;
  top: 27%;
}

.navbar-custom {

  /* position the top  edge of the element at the middle of the parent */
  left: 50%;
  /* position the left edge of the element at the middle of the parent */

  transform: translate(-15%, 20%);
  font-size: large !important;
}

.navbar__link {
  margin-left: 0.75em;
  margin-right: 0.75em;
  font-size: 1em;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: .1em;
  text-indent: .3em;
  border-bottom: 3px solid transparent;
}

.navbar__link::after {
  transition: all ease-in-out .2s;
  background: none repeat scroll 0 0;
  content: "";
  display: block;
  margin-top: 2px;
  height: 3px;
  width: 0;
}

.navbar__link:hover::after {
  visibility: visible;
  width: 40%;
}

.navbar__link--active::after {
  transition: all ease-in-out .2s;
  width: 100%;
}

.navbar__link--active:hover::after {
  width: 100%;
}

.MainApp {
  margin-top: 8vh;
  height: 90vh;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.section-content-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.Typewriter {
  display: inline-block;
}

.Typewriter__wrapper {
  font-size: xx-large;
  font-weight: bold;
}

.Typewriter__cursor {
  font-size: xx-large;
  font-weight: bold;
}

section.timeline-card-content {
  justify-content: center;
}

section.timeline-card-content p.card-title {
  font-size: 1.5em;
  margin-top: 25px;
}

section.timeline-card-content p.card-sub-title {
  font-size: 1.25em;
  margin-top: 10px;
}

section.timeline-card-content div.card-description>p {
  font-size: 1.1em;
  margin-top: 10px;
  font-weight: 500;
}

.social {
  position: relative;
  margin-top: 60px;
}


@media only screen and (min-width: 768px) and (max-width: 992px) {

  .navbar__link {
    margin-left: 0.4em;
    margin-right: 0.4em;
    font-size: 0.9em;
    cursor: pointer;
    letter-spacing: .1em;
    text-indent: .2em;
  }
}

@media (max-width: 768px) {

  .navbar__link::after {
    background: none;
    content: "";
    display: none;
    margin-top: 0;
    height: 0;
    width: 0;
  }

  .navbar__link--active::after {
    width: 0;
  }

  .navbar__link--active:hover::after {
    width: 0;
  }

  .navbar__link:hover::after {
    width: 0;
  }
}

.header {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 25px;
}